# Java
backend/target/
*.class

# VS CODE
.idea/
*.iml
.vscode/

# Environment
.env
.env.local
*.env

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Terraform
terraform/*.tfvars
terraform/.terraform
